:root {
    --pri-blue: hsl(223, 87%, 63%);
    --sec-pale-blue: hsl(223, 100%, 88%);
    --sec-light-red: hsl(354, 100%, 66%);
    --neu-gray: hsl(0, 0%, 59%);
    --neu-very-dark-blue: hsl(209, 33%, 12%);
    
    font-size: 20px;
    font-family: "Libre Franklin", sans-serif;
}

/* CSS reset */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100dvh;
    width: 100dvw;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 100%;
    height: 100%;
    position: relative;
}

/* Non-viewport dependant styling */
.social-media-link {
    border: 1px solid var(--neu-gray);
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 1rem 3rem;
    border-radius: 1rem;
    padding: 1rem;
}

.social-media-icons {
    color: var(--pri-blue);
}

footer {
    position: absolute;
    bottom: 0;
    font-size: 0.625rem;
}

/* Mobile viewport */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.25rem;
    max-width: 375px;
    border: 1px solid red;
}

.logo img {
    display: flex;
    justify-content: center;
    align-items: center;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

article h1 {
    font-weight: 300;
    font-size: 1.25rem;
    margin: 1rem auto;
}

article h1 span {
    font-weight: 700;
}

article p {
    margin: 0rem auto 2rem;
    font-size: 0.75rem;
    font-weight: 300;
}

.user-input-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

input {
    margin: 1rem auto 0.3rem;
    width: 100%;
    padding: 0.5rem;
    border-radius: 1rem;
    border: 1px solid var(--sec-pale-blue);
}

input:invalid {
    border: 2px solid red;
}

input:invalid:required {
    border: 2px solid orange;
}

input:valid {
    border: 2px solid green;
}

button {
    margin: 0.3rem auto 1.5rem;
    width: 100%;
    padding: 0.5rem;
    border-radius: 1rem;
    border: none;
    background-color: var(--pri-blue);
    color: white;
    box-shadow: 0rem 0.125rem 0.25rem var(--pri-blue);
}

.dashboard-img img {
    width: 100%;
    height: auto;
    display: block;
}

.social-media-icons {
    display: flex;
}

/* Desktop viewport */
@media screen and (min-width: 1440px) {
    body {
        background-color: red;
    }
}