:root {
    --pri-blue: hsl(223, 87%, 63%);
    --sec-pale-blue: hsl(223, 100%, 88%);
    --sec-light-red: hsl(354, 100%, 66%);
    --neu-gray: hsl(0, 0%, 59%);
    --neu-very-dark-blue: hsl(209, 33%, 12%);
    
    font-size: 20px;
    font-family: "Libre Franklin", sans-serif;
}

/* CSS reset */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100dvh;
    width: 100dvw;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 100%;
    height: 100%;
    position: relative;
}

/* Non-viewport dependant styling */

.social-media-link {
    border: 1px solid var(--sec-pale-blue);
}

.social-media-icons a {
    color: var(--pri-blue);
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    padding: 1rem;
}

.social-media-link:hover {
    background-color: var(--pri-blue);
}

.social-media-link a:hover {
    color: white;
}

.form-container {
    width: 75%;
}

.email-form {
    display: flex;
}

#user-email-input {
    border: 1px solid var(--sec-pale-blue);
    padding: 0.5rem;
    width: 75%;
    border-radius: 1rem;
    margin: 0rem 0.25rem 0rem 0rem;
}

#user-email-input::placeholder {
    color: var(--sec-pale-blue);
}

#user-email-input:focus {
    border: 1px solid var(--neu-gray);
    outline: none;
}

#submit-button {
    width: 30%;
    padding: 0.5rem;
    border-radius: 1rem;
    border: none;
    margin: 0rem 0rem 0rem 0.25rem;
    font-size: 0.625rem;
    background-color: var(--pri-blue);
    color: white;
    box-shadow: 0rem 0.14rem 0.125rem var(--sec-pale-blue);
}

#submit-button:hover {
    background-color: var(--sec-pale-blue);
    cursor: pointer;
}

#error-message {
    font-size: 0.45rem;
    color: var(--sec-light-red);
    margin: 0rem 0rem 0rem 1.5rem;
    display: none;
}

/* Mobile viewport */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 1.25rem;
    max-width: 375px;
}

.logo img {
    display: flex;
    justify-content: center;
    align-items: center;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

article h1 {
    font-weight: 300;
    font-size: 1.25rem;
    margin: 0rem auto;
    color: var(--neu-gray);
}

article h1 span {
    font-weight: 700;
    color: black;
}

article p {
    margin: 0rem auto 0rem;
    font-size: 0.75rem;
    font-weight: 300;
}

.form-container {
    width: 100%;
}

.email-form {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

#user-email-input {
    width: 100%;
    margin: 0rem auto 0.25rem;
}

#submit-button {
    width: 100%;
    margin: 0.25rem auto;
}

.dashboard-img img {
    width: 100%;
    height: 100%;
    margin: 0rem auto 0rem;
}

.social-media-icons {
    display: flex;
    position: absolute;
    bottom: 0;
    margin-bottom: 3rem;
}

.social-media-link {
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0rem 0.25rem;
    border-radius: 1rem;
    padding: 0.75rem;
    font-size: 0.75rem;
}

footer {
    position: absolute;
    bottom: 0;
    margin-bottom: 1.375rem;
    font-size: 0.625rem;
    color: var(--neu-gray);
}

/* Desktop viewport */
@media screen and (min-width: 500px) {
    body {
        padding: 1rem auto orem;
    }

    main {
        max-width: 650px;
    }

    .logo img {
        width: 65px;
    }

    .dashboard-img {
        margin: 2.5rem auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .dashboard-img img {
        width: 75%;
        height: auto;
    }

    .social-media-icons {
        margin: 1.5rem auto 2.5rem;
    }


    .social-media-link:hover {
        cursor: pointer;
    }

    footer {
        position: absolute;
        bottom: 0;
        font-size: 0.5rem;
        color: var(--neu-gray);
        margin: 1rem;
    }
}